
<div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-5 col-sm-6">
     
       <div class="login-form">
        <div class="alginCenter"> 
            <h2>Reset Password</h2></div>
          <form [formGroup]='forgetPasswordForm'  (ngSubmit)="resetPassword()">
             
             <div class="form-group">
                <label>Email</label>
                <span class="Fielderror" *ngIf="forgetPasswordForm.controls['EmailId'].hasError('email')"><br/>Incorrect Email</span><br/>
                <input type="text" class="form-control" placeholder="Email" formControlName="EmailId"/><br/>
               
            <div class="alginCenter"> <button class="btn btn-black" [disabled]='!forgetPasswordForm.valid'>Send Email</button> &nbsp;&nbsp;
            </div> </div>
      
          </form>
       </div>
    </div>
 </div>
